#root{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: black;
}
.home-page {

  display: flex;
  color: white;
  background-color: #000000;
  padding-left: 20rem;
}

.left-side {
  flex-direction: column;
  border: 1px solid black;
  justify-content: flex-end;
}

.middle-side {
  display: flex;
  flex: 2;
}
.middle-image {
  width: 3rem;
  border-radius: 1.5rem;
}

.right-side {
  display: flex;
  flex: 2;

  justify-content: flex-end;
}

.bird-icon {
  border: 1px solid black;
  padding: 0.5rem;
  padding-right:7rem;
  padding-bottom: 1.5rem;

}
.bird-icon i {
  padding-right: 3rem;
  cursor: pointer;
}
.left-bird-anchor{
  color: rgb(217, 217, 217);
}
.left-home {
  font-size: 20px;
  font-weight: 400;
}
.left-home-anchor{
  padding-left: 1rem;
  color: rgb(217, 217, 217);
}
.left-home a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.explore {
  font-size: 20px;
  font-weight: 400;
}
.explore a {
  padding: 1rem;
  color: rgb(217, 217, 217);
}
.explore a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.notification {
  font-size: 20px;
  font-weight: 400;
}
.notification a {
  padding: 1rem;
}
.notification a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.messages {
  font-size: 20px;
  font-weight: 400;
}
.messages a {
  padding: 1rem;
}
.messages a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.bookmarks {
  font-size: 20px;
  font-weight: 400;
}
.bookmarks a {
  padding: 1rem;
}
.bookmarks a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.lists {
  font-size: 20px;
  font-weight: 400;
}
.left-profile-anchor{
  color: rgb(217, 217, 217);
  padding-left: 1rem;
  padding-top: 1.5rem;
}
.lists a {
  padding: 1rem;
}
.middle-home-anchor{
  color: rgb(217,217,217);
  font-weight: 700;
  }
.lists a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.profile {
  font-size: 20px;
  font-weight: 400;
}
.profile a {
  padding: 1rem;
}
.profile a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.more {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2rem;
}
.more a {
  padding: 1rem;
}
.more a:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.tweet-button {
  background-color: #1d9bf0;
  border-radius: 50px;
  padding: 1rem 5rem;
 
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}
.bottom-profile {
  border: 1px solid black;
  padding: 0.45rem 1rem;
  margin-top: 14.1rem;
  cursor: pointer;
  transition: 0.3s;
}
.bottom-profile:hover {
  background-color: #15181c;
  border-radius: 50px;
}

.home-left-top {
  width: 100%;
  text-align: center;
}
.bottom-profile-popup {
  position: absolute;
  top: 38rem;
  left: 16rem;
  height: 12rem;
  width: 20rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
    rgb(255 255 255 / 15%) 0px 0px 3px 1px;
}
.home-left-middle {
  display: flex;
  flex: 10;
  flex-direction: column;
}
.home-left-middle > div {
  transition: 0.3s;
  padding-top: 2rem;
  cursor: pointer;
}

.aa {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.middle-home {
  border: 0.1px solid rgb(218, 198, 198);
  padding: 1rem;
  font-size: 20px;
}
.send-tweet {
  border: 1px solid white;
  padding: 1rem;
}
.tweets {
  border: 1px solid black;
  padding: 1rem;
}
.tweet {
  border: 1px solid black;
  padding: 1rem;
}
.search {
  margin-top: 0.5rem;
  position: relative;
  align-items: center;
  width: 5rem;
}

.search input {
  border: 1px solid rgb(32, 35, 39, 1);
}
.search input:focus {
  border: rgb(29, 155, 240) 1px solid;
}

.trends {
  border: 1px solid black;
 
  background-color: #15181c;
  width: 300px;
  border-radius: 20px;
  height: 400px;
  margin-top: 1rem;

  margin-left: 6rem;
}

.who-to-follow {
  border: 1px solid black;
  
  background-color: #15181c;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-top: 1rem;
  margin-left: 6rem;
  padding-top: 1rem;
}
.who-to-follow-header{
  color: rgb(217, 217, 217);
  font-size: 20px;
  font-weight: 800;
  padding-left: 1rem;
 
}
.who-to-follow-person{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem 1rem;
  transition: .2s;
}
.who-to-follow-person:nth-child(1){
  margin-top: 0.25rem;
}
.who-to-follow-person:hover{
  background-color: rgba(255, 255, 255, 0.03);


}

.who-to-follow-nick-container{
  display: flex;
  flex-direction: column;
  padding-left: 0.66rem;
}
.who-to-follow-name{
  color: rgb(217, 217, 217);
  font-weight: 700;
  font-size: 15px;
}
.who-to-follow-nick-name{
  color: rgb(110, 118, 125);
  font-size: 15px;
  padding-top: 0.15rem;
}
.who-to-follow-image{
  width: 3.5rem;
  border-radius: 3rem;
}
.who-to-follow-button{
  margin-left: auto;
}
.follow-button{
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: rgb(239, 243, 244);
}
.follow-button span{
  color: rgb(15,20,25);
  font-weight: 700;
}
.home-footer {
  border: 1px solid black;
  padding-top: 1rem;
  width: 350px;
  margin-left: 6rem;
  text-align: left;
}
.home-footer-list{
  display: flex;
  flex-direction: column;
}
.home-footer-list-upper{
  display: flex;
}
.home-footer-list-bottom{
  display: flex;
}
.home-footer a{
  color: rgb(108, 115, 125);
  font-size: 13px;
  margin: 0 0.25rem;
}
.home-footer-span{
  color: rgb(108, 115, 125);
  font-size: 13px;
  cursor: pointer;
}
.home-footer a:hover{
  text-decoration: underline;
}
.home-middle-top {
  display: flex;

  flex-direction: column;
}

.home-middle-bottom {
  display: flex;

  flex-direction: column;
}

.bb {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.middle-tweet-button {
  background-color: #1d9bf0;
  border-radius: 50px;
  width: 80px;
  height: 35px;
  align-items: center;
  display: flex;
}

.middle-picture-what-happen {
  display: flex;
}

.middle-icons-tweet-button {
  display: flex;
  justify-content: space-between;
}

.middle-icon {
  padding: 1rem;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  color: #3083d7;
}
.bottom-profile {
  display: flex;
}

.bottom-profile-icon {
  margin-left: 2rem;
  margin-top: 0.9rem;
}
.bottom-profile-text {
  margin-left: 0.75rem;
  margin-top: 0.25rem;
}
.bottom-profile-logout {
  cursor: pointer;
}
.bottom-anchor-popup{
  background-color: black;
  display: flex;
  flex-direction: column;
  top: 41rem;
  left: 85rem;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
    rgb(255 255 255 / 15%) 0px 0px 3px 1px;
}
.bottom-anchor-popup a{
  padding: 1rem;
  color: rgb(217, 217, 217);
  font-size: 15px;
  transition: .3s;
}
.bottom-anchor-popup a:hover{
  background-color: rgb(21, 24, 28);
}
.ll {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.chat-search-text {
  height: 40px;
  width: 300px;
  
  border-radius: 50px;
  background-color: rgb(32, 35, 39, 1);
  outline: none;
  margin-left: 6rem;
  
}
.chat-search-text::placeholder{
  padding-left: 3rem;
}

.middle-icons-tweet-button {
  display: flex;
}


.trends-sentence {
  display: flex;
  align-items: flex-start;
}

.trends-header{
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}
.trends-header-text{
  color: rgb(217, 217, 217);
  font-size: 20px;
  font-weight: 800;
  padding-left: 1rem;
}
.trends-options{
  margin-left: auto;
  margin-right: 1rem;
}
.trend{
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  transition: .2s;
  cursor: pointer;
}
.trend:hover{
  background-color: rgba(255, 255, 255, 0.03);
}
.trend-left{
  padding-left: 1rem;
}
.trend-right{
  margin-left: auto;
  padding-right: 1rem;
}
.trend-categories{
  color: rgb(110, 118, 125);
  font-size: 13px;
  padding: 0.1rem 0;
}
.trend-tag{
  color: rgb(217, 217, 217);
  font-size: 15px;
  font-weight: 700;
  padding: 0.1rem 0
}
.trend-tweet-number{
  color: rgb(110, 118, 125);
  font-size: 13px;
  padding: 0.1rem 0
}
.trend-ellipsis-holder i {
  color: rgb(110, 118, 125);
  font-size: 13px;
}
.left-outside {
  display: flex;
}

.left-side i {
  background: none;
}

.search i {
  position: absolute;
  display: flex;
  text-align: left;
  left: 7rem;
  top: 0.9rem;
  font-size: 14px;
  background: none;
  color: rgb(110, 118, 125);
}

.search input:focus + i {
  color: rgb(29, 155, 240);
}

.profile-middle {
  display: flex;
  flex-direction: column;
}
.profile-card {
  display: flex;
  flex-direction: column;
}
.profile-middle-gray-area {
  background-color: rgb(47, 51, 54, 1);
  border: white 1px solid;
  width: 600px;
  height: 200px;
}

.profile-card {
  display: flex;
}

.profile-middle-top {
  background-color: black;
  border: rgb(110, 118, 125) 1px solid;
  width: 600px;
  height: 53px;
  display: flex;
  flex-direction: column;
}

.cc {
  display: flex;
  padding: 1rem;
  cursor: pointer;
}

.dd {
  display: flex;
  flex-direction: column;
}
.profile-middle-remain {
  width: 600px;
  border: rgb(217, 217, 217) 1px solid;
  height: 270px;
}

.profile-clickable a {
  padding: 1rem;
}

.profile-clickable a:hover {
  padding: 1rem;
  background-color: #15181c;
}

.profile-middle-column {
  display: flex;
  flex-direction: column;
}

.profile-middle-column span {
  padding: 1rem;
}

.setup-profile-button {
  border: 1px solid white;
  display: flex;
  width: 130px;
  border-radius: 50px;
  height: 30px;
  flex-direction: column;

  margin-left: 26rem;
}

.arrow {
  border-radius: 50px;
  background-color: #15181c;
}
.profile-tweets {
  width: 600px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}
.profile-tweet-icons {
  display: flex;
  justify-content: space-around;
}

.profile-tweets-small-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: gray;
  margin: 1rem;
}
.tweet-column {
  display: flex;
  flex-direction: column;
}
.user-bottom-image {
  width: 3rem;
  border-radius: 3rem;
}
.popup-names {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.popup-names > span:nth-child(1) {
  color: rgb(216, 216, 216);
  font-size: 15px;
}
.popup-names > span:nth-child(2) {
  color: rgb(110, 118, 125);
  font-size: 15px;
}
.popup-image {
  width: 3rem;
  border-radius: 1.5rem;
}
.verify {
  flex: 1;
  text-align: right;
}
.verify i {
  color: rgb(29, 155, 240);
  margin-top: 0.75rem;
}
.popup-top-flex {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid rgb(255 255 255 / 20%);
}
.bottom-profile-settings {
  display: flex;
  flex-direction: column;
}
.bottom-profile-settings span {
  color: rgb(216, 216, 216);
  font-size: 15px;
  line-height: 50px;
}
.bottom-profile-settings > div:nth-child(1) {
  padding-left: 1rem;
  height: 3.15rem;
  transition: 0.3s;
  cursor: pointer;
}
.bottom-profile-settings > div:nth-child(2) {
  transition: 0.3s;
  padding-left: 1rem;
}
.bottom-profile-settings > div:hover {
  background-color: rgb(21, 24, 28);
}
.bottom-profile-user:nth-child(1) {
  color: rgb(216, 216, 216);
  font-size: 15px;
}
.bottom-profile-user:nth-child(2) {
  color: rgb(110, 118, 125);
  font-size: 15px;
}
.ee {
  display: flex;
}

.fifth:hover {
  color: rgb(29, 155, 240);
  background-color: #15181c;
  border-radius: 50px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

.first:hover {
  color: rgb(29, 155, 240);
  background-color: #15181c;
  border-radius: 50px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
.second:hover {
  color: rgb(0, 186, 124);
  background-color: #15181c;
  border-radius: 50px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
.third:hover {
  color: rgb(249, 24, 128);
  background-color: #15181c;
  border-radius: 50px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
.forth:hover {
  color: rgb(29, 155, 240);
  background-color: #15181c;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

.first {
  color: rgb(110, 118, 125);
}
.second {
  color: rgb(110, 118, 125);
}
.third {
  color: rgb(110, 118, 125);
}

.forth {
  color: rgb(110, 118, 125);
}
.fifth {
  color: rgb(110, 118, 125);
}

.ellipses {
  display: flex;
  align-content: flex-end;
  margin-left: 18rem;
  color: rgb(110, 118, 125);
}

.ellipses:hover {
  color: rgb(29, 155, 240);
  background-color: #15181c;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
